/* Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Nabla&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

/* Global */
:root {
  /* Font size */
  --font-large : 48px;
  --font-medium: 36px;
  --font-middle: 32px;
  --font-regular: 21px;
  --font-small: 16px;
  --font-micro: 10px;

  /* Font weight */
  --fweight-thin: 100;
  --fweight-light: 300;
  --fweight-regular: 400;
  --fweight-medium: 500;
  --fweight-bold: 700;

  /* Color */
  --color-white: #fff;
  --color-light-whtie: #eee;
  --color-grey: #777;
  --color-black: #000;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
body {  
  width: 100%;
  height: 100%;
  margin : 0;
  padding: 0;
  background-color: rgb(0, 1, 52);
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Typography */
h1 {
  font-family: 'Nabla', cursive;
  font-size: var(--font-large);
  text-align: center;
  margin: 0;
}

/* Title */
.title {
  padding: 10px 0 40px;
}

/* Container */
.container {
  width: 45%;
  height: 70%;
  background-color: var(--color-white);
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

/* Subtitle */
.subtitle {
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subtitle span {
  font-size: var(--font-small);
  font-weight: var(--fweight-medium);
}

/* List */
.list {
  display: block;
  margin: 0;
  padding: 0;
  height: 78%;
  background-color: var(--color-light-whtie);
  overflow-y: auto;
}
.item__name.throughline {
  text-decoration: line-through;
}

/* Item */
.itemrow {
  font-size: var(--font-samll);
  font-weight: var(--fweight-thin);
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}
.item__name {
  cursor: pointer;
  font-weight: var(--fweight-light);
}
.item__delete {
  padding: 0;
  margin: 0;
  background: transparent;
  width: fit-content;
  height: fit-content;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.item__delete:hover svg path {
  stroke:  rgb(255, 112, 172);
  transform: scale(1.05);
}


/* Footer */
.footer {
  height: 10%;
}
.footer__form {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  width: 80%;
  border-bottom-left-radius: 20px;
  border: none;
  padding-left: 20px;
  outline: none;
}
.footer__btn {
  width: 20%;
  border-bottom-right-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
  outline: none;
}
.footer__btn:hover > img {
  transform:scale(1.1);
}


/* Responsive */
/* For below 768px screen width*/
@media screen and (max-width: 768px) {
  :root {
  /* Font size */
  --font-large : 30px;
  --font-medium: 20px;
  --font-middle: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;
  }


  h1 {
    font-size: var(--font-medium);
  }
  .title {
    padding: 5px 0 20px;
  }
  .container {
    width: 85%;
    height: 70%;
    background-color: var(--color-white);
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}